#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
  combos {
    compatible = "zmk,combos";

    combo_enable_studio {
      timeout-ms = <100>;
      key-positions = <0 1 2 3 4>;
      bindings = <&studio_unlock>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    base {
      bindings = < 
        &kp N9 
        &kp N8 
        &kp N7 
        &kp N6 
        &kp N5 
        >;

      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
    };
  };
};
