#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
  combos {
    compatible = "zmk,combos";

    combo_enable_studio {
      timeout-ms = <100>;
      key-positions = <0 1 2 3 4>;
    //   bindings = <&studio_unlock>;
      bindings = <&kp N8>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    base {
      bindings = < 
        &kp N1 
        &kp N2 
        &kp N3 
        &kp N4 
        &kp N5 
        >;

      sensor-bindings = <&inc_dec_kp N6 N7>;
    };
  };
};
